* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  justify-content: center;
  background-color: black;
}

.headerContainer {
  width: 40%;
  margin-top: 32px;
}
.logo-switch {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.logo-switch label {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.logo-switch .btn {
  width: fit-content;
  cursor: pointer;
}

.input-container {
  width: 90%;
  border-radius: 4px;
  margin:0 auto;

}
.input-container input {
  width: 100%;
  padding: 16px 10px;
  margin-bottom: 30px;
  border-radius: 3px;
  border: none;
}
.input-container input:focus {
  outline: none;
}

.container {
  width: 100%;
  text-align: center;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
.container-dark {
  background-color: #002;
  height: 100vh;
}
.todo-container {
  width: 90%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0 auto;
  z-index: 2;
 
}
.todo-container-dark {
  background-color: rgb(16, 16, 99);
  color: #fff;
  width: 90%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.todo-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #ccc;
}
.todo-content .todo-msg {
  padding-left: 10px;
  text-decoration: line-through;
}

.todo-content .exit {
  padding-left: 2px;
  cursor: pointer;
}
.todo-content .checkbox {
  cursor: pointer;
}

.filtercontainer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.filtercontainer button {
  color: #002;
  background-color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}
.filtercontainer .filter-btns {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.filter-btns button {
  color: #002;
  background-color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* background-color: #ccc; */
  margin-top: 10px;
}

@media screen and (max-width: 1140px) {
  .headerContainer {
    width: 100%;
  }

  .input-container {
    padding: 10px;
  }
  .todo-container {
    padding: 10px;
  }


  .logo-switch {
    padding: 10px;
  }
  .logo-switch label {
    font-size: 1rem;
  }
  .filtercontainer {
    padding: 5px;
    
  }
  .filtercontainer button{
    font-size: 10px;
    background-color: rgb(12, 12, 107);
    color:#fff
  }
}
